In [1]:
import requests 

url = "https://finance.naver.com/world/worldDayListJson.naver?"
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/113.0"}

data = {"symbol" : "NAS@SOX",
        "fdtc" : "0",
        "page" : "3",}

In [10]:
import pandas as pd
total = []
for x in range(1,12):
    data['page'] = x
    total.append(pd.DataFrame(requests.post(url, data=data, headers=head).json()))
sox_df = pd.concat(total, ignore_index= True)

In [11]:
sox_df

        symb      xymd     open     high      low     clos    diff  rate  gvol
0    NAS@SOX  20230530  3628.47  3643.94  3537.65  3549.39    3.72  0.10     0
1    NAS@SOX  20230526  3387.43  3563.33  3386.34  3545.67  208.95  6.26     0
2    NAS@SOX  20230525  3281.39  3347.37  3238.22  3336.72  212.63  6.81     0
3    NAS@SOX  20230524  3111.55  3135.04  3091.29  3124.09  -53.35 -1.68     0
4    NAS@SOX  20230523  3196.75  3216.99  3171.94  3177.44  -37.60 -1.17     0
..       ...       ...      ...      ...      ...      ...     ...   ...   ...
105  NAS@SOX  20221227  2515.82  2518.84  2482.24  2490.17  -45.32 -1.79     0
106  NAS@SOX  20221223  2513.39  2536.82  2490.76  2535.49    2.16  0.09     0
107  NAS@SOX  20221222  2589.10  2589.10  2482.45  2533.33 -111.17 -4.20     0
108  NAS@SOX  20221221  2601.79  2652.19  2600.23  2644.50   60.86  2.36     0
109  NAS@SOX  20221220  2568.29  2607.87  2565.51  2583.64  -16.22 -0.62     0

[110 rows x 9 columns]

In [12]:
import pandas as pd
total = []
for x in range(1,12):
    data['page'] = x
    data['symbol'] = 'SPI@SPX'
    total.append(pd.DataFrame(requests.post(url, data=data, headers=head).json()))
spx_df = pd.concat(total, ignore_index= True)

In [13]:
spx_df

,symb,xymd,open,high,low,clos,diff,rate,gvol
0,SPI@SPX,20230530,4226.71,4231.10,4192.18,4205.52,0.07,0.00,2562757080
1,SPI@SPX,20230526,4156.16,4212.87,4156.16,4205.45,54.17,1.30,2591763940
2,SPI@SPX,20230525,4155.71,4165.74,4129.73,4151.28,36.04,0.88,2825869880
3,SPI@SPX,20230524,4132.96,4132.96,4103.98,4115.24,-30.34,-0.73,2275689930
4,SPI@SPX,20230523,4176.80,4185.68,4142.54,4145.58,-47.05,-1.12,2437623000
...,...,...,...,...,...,...,...,...,...
105,SPI@SPX,20221227,3843.34,3846.65,3813.22,3829.25,-15.57,-0.40,1744900170
106,SPI@SPX,20221223,3815.11,3845.80,3797.01,3844.82,22.43,0.59,1579126770
107,SPI@SPX,20221222,3853.26,3853.26,3764.49,3822.39,-56.05,-1.45,2365338670
108,SPI@SPX,20221221,3839.49,3889.82,3839.49,3878.44,56.82,1.49,2148847360
109,SPI@SPX,20221220,3810.47,3838.24,3795.62,3821.62,3.96,0.10,2209956560