In [93]:
# 20210621
import pandas as pd
tesla= pd.read_csv("./playdata/airflow/data/tesla_past.csv")
spx= pd.read_csv("./playdata/airflow/data/spx_past.csv")
sox= pd.read_csv("./playdata/airflow/data/sox_past.csv")
tesla = tesla[tesla['date'] >= '2021-06-21']
tesla= pd.concat([tesla,pd.read_csv("./playdata/airflow/data/tesla_now.csv")])
tesla['date'] = tesla['date'].apply(lambda x : ymd(x))
tesla.reset_index(inplace=True,drop=True)
spx = spx[spx['xymd'] != 20230530]
sox = sox[sox['xymd'] != 20230530]
spx.reset_index(inplace=True,drop=True)
sox.reset_index(inplace=True,drop=True)

In [113]:
pd.read_csv('./playdata/airflow/data/tesla.csv')

,high,volume,low,close,open,timestamp,date
0,210.463333,74438100,202.960007,206.943329,208.160004,1624282200,20210621
1,209.523331,57476700,205.166672,207.903336,206.083328,1624368600,20210622
2,219.066666,93297600,210.013336,218.856674,210.666672,1624455000,20210623
3,232.539993,137947200,222.536667,226.606674,224.996674,1624541400,20210624
4,231.270004,97490100,222.899994,223.956665,229.860001,1624627800,20210625
...,...,...,...,...,...,...,...
484,192.960007,156952100,185.259995,185.770004,186.199997,1684848600,20230523
485,184.220001,137605100,178.220001,182.899994,182.229996,1684935000,20230524
486,186.779999,96870700,180.580002,184.470001,186.539993,1685021400,20230525
487,198.600006,161765900,184.529999,193.169998,184.619995,1685107800,20230526
488,203.949997,150299200,195.119995,203.929993,199.779999,1685539800,20230531